<div ng-init="init()">
	<div class="show-for-medium-up" style="height:5px; background-color: rgba(0, 0, 0, .2)"></div>
	<div sticky id="headerMain"  class="fonttype-2" style="width: 100%; z-index: 990000; background-color: black; color: white"> 
			
			<div class="show-for-medium-up">
				<div class="row">



					<div class="small-12 columns pull-right" style="font-size: 1em; height: 80px">						
  						<centered>

							<div class="small-2 columns" ui-route="#/home" ng-show="!$uiRoute"> 
								<br>
								<img src="media/meta/smallLogo.png" />
								<br><br>
							</div>
							
							<div class="small-8 columns" style="text-align: left"> 
								<br>
								<div ui-route="#/home" ng-show="!$uiRoute">
									<br>
								</div>
								
							    	<a style="margin-right: 10px" ui-sref="home"><i class="fa fa-home"></i> Home</a>
							    	<a style="margin-right: 10px" ui-sref="about"><i class="fa fa-star"></i> About</a>
							    	<a style="margin-right: 10px" ui-sref="portfolio"><i class="fa fa-gears"></i> Portfolio</a>
							    	<a style="margin-right: 10px" ui-sref="hire"><i class="fa fa-money"></i> Hire </a>						     
								<br><br>
							</div>		
							
							<div class="small-4 columns" ui-route="#/home" ng-show="$uiRoute" style="text-align: right"> 
								<br>
							    	<a style="margin-right: 20px" ng-click="scrollHere('trueTop')"><i class="fa fa-sun-o"></i></a>
							    	<a style="margin-right: 20px" ng-click="scrollHere('philosophy')"><i class="fa fa-shopping-cart"></i></a>
							    	<a style="margin-right: 20px" ng-click="scrollHere('design')"><i class="fa fa-trophy"></i> </a>						     
									<a style="margin-right: 20px" ng-click="scrollHere('trueBottom')"><i class="fa fa-thumbs-up"></i></a>
								<br><br>
							</div>								
																				
						</centered>
					</div>
					

					
					
	
					
					
				</div>
					
			</div>
			
			
	</div>
</div>






