pre,
code  {font-family: consolas, courier, monospace;
       font-size: 1em;
       line-height: 1.2em;
       white-space: pre; 
       background-color: white; 
       color: gray; /* likewise the background-color comment */
       border: 1px solid #008cba;
       -moz-border-radius: .2em;
       -webkit-border-radius: .2em;
       border-radius: .2em; /* just in case */
       padding: 1em;
       width: 100%;        
       margin-top: 1em;
       margin-bottom: 1em;
}

pre:hover{
	color: black; 
}


select, input{
	color: black; 
}

/* DEFAULT FONT */
h1, h2, h3, h4, h5, h6{
	font-family: 'Ubuntu', sans-serif;
	color: inherit;
}

p, a {
	font-family: 'Volkhov', serif;
	font-size: 1em; 
	color: inherit;
} 

.fonttype-1{
	font-family: 'Volkhov', serif;
}

.fonttype-2{
	font-family: 'Ubuntu', sans-serif;
}


.fix-a{	
	text-decoration: none;
	cursor: pointer;
	color: inherit; 	
}

/* SITE SPECIFIC */
body {
	
	/*background-image:url("../media/background.jpg");*/
	background-color: #a7c604;
	background-size: auto 100%;
	background-attachment: fixed; 
	
    background-repeat: no-repeat;
    background-position: right top;
    height: 100%;    	
	
}

.isSticky{
	 content: attr(sticky)
}

.make-cursor{
	cursor: pointer
}


.img-responsive-max{
  display: block;
  height: auto;
  width: 100%;
  margin-left: auto; 
  margin-right: auto
}

