@import "elements.less";

////////////////
/*  GRADIANTS */
////////////////



    @base-red:      #FF1300;
    @base-green:    #0BD318;
    @base-black:    black;
    @base-white:    white;
    @base-gray:     gray;
    
    
    
    .red-font{
        color: @base-red;    
    }
    
    .green-font{
        color: @base-green;    
    }    
    
    .black-font{
        color: @base-black;    
    }
    
    .white-font{
        color: @base-white;    
    }   
    
    .gray-font{
        color: @base-gray;    
    }       

    .red-gradient{
       .gradient(#FFDB4C, #FF2A68, #FF5E3A);   
    }
    .red-gradient-active{
       .gradient(#FF1300, #FF1300, #FF1300);   
    }
    
    .orange-gradient{
       .gradient(#FF9500, #FF9500, #FF5E3A);   
    }
    .orange-gradient-active{
       .gradient(#FFCC00, #FFCC00, #FFCC00);   
    }    
    
    .green-gradient{
        .gradient(#87FC70, #0BD318, #4CD964);   
    }
    .green-gradient-active{
        .gradient(#0BD318, #0BD318, #0BD318);   
    }    
    
    .blue-gradient{
        .gradient(#1AD6FD, #1AD6FD, #1D62F0);   
    }
    .blue-gradient-active{
        .gradient(#1D62F0, #1D62F0, #1D62F0);   
    }   
    
    .slate-gradient{
        .gradient(#D6CEC3, #D6CEC3, #E4DDCA);   
    }
    .slate-gradient-active{
        .gradient(#E4DDCA, #E4DDCA, #E4DDCA);   
    }  
    
    .gray-gradient{
        .gradient(#C7C7C7, #C7C7C7, #BDBEC2);   
    }
    .gray-gradient-active{
        .gradient(#C7C7C7, #C7C7C7, #C7C7C7);   
    }     
    
    
    // SITE SPECIFIC
    @sample-green-1: #B5F36D;
    @sample-green-2: #9FF33D;
    @sample-green-3: #519600;
    @sample-green-4: #7ce700;
    @sample-green-5: #2b5f00;
    
    @sample-orange-1: #a7c604;
    @sample-orange-2: #A6FF00;

    
    .flat-green-light{
        background-color: @sample-green-1;
    }
    
    .flat-green-grass{
        background-color: @sample-green-2;
    }    
    
    .flat-green-dark{
        background-color: @sample-green-3;
    }  
 
    .flat-green-tree{
        background-color: @sample-green-4;
    }    
    
    .flat-green-darker{
       .gradient(@sample-green-1, @sample-green-3, @sample-green-5);   
    }      
    
    .flat-orange-light{
        background-color: @sample-orange-1;
    }

    .flat-orange-dark{
        background-color: @sample-orange-2;
    }    
    