@import "elements.less";
@import "gradiants.less";

//////////////////
/* COLOR SCHEME */
//////////////////
    .base-color{
        .flat-orange-light;
    }

    .base-color{
        background-color: black;
    }    
    
    .base-color-active{
        .flat-orange-dark;
    }

    .primary-color{
       .flat-green-light;
    }
    .primary-color-active{
        .flat-green-grass;
    }
    
    .info-color{
         .orange-gradient;
    }
    .info-color-active{
         .orange-gradient-active;
    }    
    .success-color{
         .flat-green-tree;
    }
    .success-color-active{
         .flat-green-dark;
    }        
    
/*--------------*/


//////////////////
/*  TEXT COLOR  */
//////////////////
    @text-black:            black;
    @text-white:            white;
/*--------------*/




////////////////
/*  SHAPING */
////////////////

    .buttonSpacing{
        padding-left: 15px;
        padding-right: 15px; 
        padding-top: 10px;
        padding-bottom: 10px;
        
           
        text-decoration: none;
        //cursor: pointer;             
    }
/*--------------*/



     
////////////////
/*  MIXINS */
////////////////
    .sharedClasses{
        .buttonSpacing;
        //.rounded(5px); 
        //.make-tabs-top;
        //.make-tabs-bottom;
    }

    .flat-dark{
        color:                      @text-black;    
        .base-color;
        .sharedClasses;
        &:hover {    
            .base-color-active;
        } ;  
        a{
            color: @text-black; 
        }
               
    }   
    
    .flat-base{
        color:                      @text-black;    
        .base-color;
        .sharedClasses;
        &:hover {    
            .base-color-active;
        } ;  
        a{
            color: @text-black; 
        }
               
    }    
    
    .flat-primary{
        color:                      @text-black;    
        .primary-color;
        .sharedClasses;
        &:hover {    
            .primary-color-active;
        } ;
        a{
            color: @text-black; 
        }   
        a:hover{
            color: gray; 
        }           
    }
    
    .flat-info{
        color:                      @text-white;   
        .info-color;
        .sharedClasses;
        &:hover {    
             .info-color-active;
        } ;  
        
    }
    
    .flat-warning{
        color:                      @text-white;   
        .info-color;
        .sharedClasses;
        &:hover {    
             .info-color-active;
        } ;  
        
    }
    
    .flat-success{
        color:                      @text-white;    
        .success-color;
        .sharedClasses;
        &:hover {     
            .success-color-active;
        } ;    
        
    }    
/*--------------*/