<div>
	<div class="container" >
		<br>
		<button class="small-3 columns" ng-click="offcanvasToggle('home')">
			<i class="fa fa-home fa-2x"></i>
			<br>
			<small>Home</small>	
		</button>

		<button class="small-8 small-offset-1 button success columns" ng-click="offcanvasToggle('about')">
			<i class="fa fa-bookmark-o fa-2x"></i>
			<br>
			<small>About Us</small>	
		</button>		
		
		<br>
		
		<button class="small-6 button secondary columns" ng-click="offcanvasToggle('portfolio')">
			<i class="fa fa-bookmark-o fa-2x"></i>
			<br>
			<small>Portfolio</small>	
		</button>				
		
		<br>
		
		<button class="small-5 small-offset-1 columns" ng-click="offcanvasToggle('hire')">
			<i class="fa fa-bookmark-o fa-2x"></i>
			<br>
			<small>Hire Us!</small>	
		</button>	
		
		<br>

		
		<button  class="small-12 button alert columns" ng-click="close('')">
			<i class="fa fa-caret-square-o-left fa-2x"></i>
			<br>
			<small>Close</small>	
		</button>	
		
			

	</div>	
</div>
			
