<div class="row" > 
	<div class="container">
		
		<div class="small-12 columns">
			<centered>
				<br><br>
				<br><br>
			<h3>Oh my.  This IS embarassing.</h3>
				<img src="media/under/under.png">
				<br><br>
				
				<p>Look.  I'm not going to lie to you here.  This page isn't done yet.  I don't know how or why, but I assure you it has nothing to do with my compulsive hand washing fixation.  Internet pornography, sure, but not the hand washing.</p>
				<br><br>
				<p>DON'T JUDGE ME.</p>
				
				<br><br>
			</centered>
		</div>
		
	</div>

</div>

			