<div class="" ng-init="init()">


	
	<!-- Section -->
	<div id="section1" class="scroll-pattern-1" data-speed="4" data-offset="0" data-type="background">
		<div style="height: 600px">
			<div style="position: absolute; bottom: 0%; right: 0%;">
				<img src="media/home/brush.png" class="img-responsive-clearfix" style="max-width: 300px"/>	
			</div>	
					
			<div style="position: absolute; top: 20%; width: 100%;">	
				<centered>
					<div style="width: 50%; padding: 20px; margin: 0px; margin-left: auto; margin-right: auto; background-color: rgba(0, 0, 0, .8)" >
						<centered> 
							<h1 data-fittext="1" data-fittext-min="15" data-fittext-max="45" class="largeFont fonttype-1 white-font">BEAUTIFULLY CRAFTED CUSTOM WEBSITES</h1>
							<h3 data-fittext="1" data-fittext-min="10" data-fittext-max="20" class="largeFont fonttype-1 white-font">Web design and front-end development at it's finest</h3>
						</centered>
					</div>
				</centered>				
			</div>
		</div>
	</div>	
	
	<div id="philosophy" class="row">

		<div class="small-10 small-offset-1 columns">
				<centered>
				<br><br>
				<h1 class="fonttype-1">Services</h1>	
				<p>
				Whether you're looking to update an old site or start fresh with a sexy new one, CodeAndLogic is here help.  We offer a full
				range of services ranging from web design to integration for personal, small business or corporations alike.
				
				</p>			
				<br><br>
				<br><br>
				
					<div class="small-12 medium-4 columns fonttype-2 show-for-medium-up">
						<centered>
							<h4>Development</h4>
							<br>
							<img src="media/home/responsive.png" class="img-responsive-clearfix" style="max-width: 100px"/><br><br>
							<br><br>
						</centered>
					</div>
					<div class="small-12 medium-4 columns fonttype-2 show-for-medium-up">
						<centered>
							<h4>Design</h4>
							<br>
							<img src="media/home/code.png" class="img-responsive-clearfix" style="max-width: 120px"/><br><br>
							
							<small></small>
							<br><br>						
	
						</centered>
					</div>
					<div class="small-12 medium-4 columns fonttype-2 show-for-medium-up">
						<centered>
							<h4>Integration</h4>
							<br>
							<img src="media/home/backendIcon.png" class="img-responsive-clearfix" style="max-width: 80px"/><br><br>
							<br><br>
						</centered>
					</div>	
										
				</centered>
		</div>		
	</div>
		

	<div class="scroll-pattern-2" data-speed="-8" data-offset="0" data-type="background">
		<div style="height: 800px">
			<div style="position: absolute; bottom: 20%; right: 0%; width: 100%">
				<centered>
					<img src="media/home/mobiles.png" class="img-responsive-clearfix" style="width: 90%; max-width: 500px"/>
				</centered>	
			</div>	
					
			<div style="position: absolute; top: 35%; width: 100%;">	
				<centered>
					<div style="width: 70%; padding: 20px; margin: 0px; margin-left: auto; margin-right: auto; background-color: rgba(0, 0, 0, .8)">
						<centered> 
							<h1 data-fittext="1" data-fittext-min="15" data-fittext-max="45" class="largeFont fonttype-1 white-font">WE TURN YOUR IDEAS INTO REALITY</h1>
							<h3 data-fittext="1" data-fittext-min="10" data-fittext-max="20" class="largeFont fonttype-1 white-font">Web.  App.  UI/UX.  We do it all.</h3>
						</centered>
					</div>
				</centered>				
			</div>
		</div>
	</div>	

			
			
	<div id="design" class="row" style="">
		<div class="small-12 columns">
				<br><br>
				<div class="medium-3 small-12 columns show-for-medium-up">
					<centered>
						<br><br>
							<img src="media/home/appIcon.png" class="img-responsive-clearfix" style="max-width: 200px; width: 100%"/><br><br>
						<br><br>
					</centered>
				</div>
				
				<div class="medium-9 small-12 columns">
					<centered>
					<br>
					<h1 class="fonttype-1">Design Philosophy</h1>	
					<div style="text-align: justify">
						<p>
							Every site is built to deliever an equally powerful, cohesive web experience regardless of the platform you're viewing it from.  From smart phones to tablets to the traditional desktop setting, the site we build for you is built to last, with easy to maintain code and an even easier way to 
							add new content.  At the end of the day, we strive to make you the best possible product.							  
						</p>
					</div>			
					<br><br>
					<br><br>
					</centered>
				</div>
				<br><br>				
		</div>		
	</div>		
	
	
	<div  class="scroll-pattern-1" data-speed="4" data-offset="0" data-type="background">
		<div style="height: 600px">
			<div style="position: absolute; bottom: 10%; right: 0%; width: 100%; ">
				<centered>
					<img src="media/home/satisfyIcon.png" class="img-responsive-clearfix" style="max-width: 400px"/>
				</centered>	
			</div>	
					
			<div style="position: absolute; top: 15%; width: 100%;">	
				<centered>
					<div style="width: 70%; padding: 20px; margin: 0px; margin-left: auto; margin-right: auto; background-color: rgba(0, 0, 0, .8)">
						<centered> 
							<h1 data-fittext="1" data-fittext-min="15" data-fittext-max="45" class="largeFont fonttype-1 white-font">YOUR SATISFACTION GUARANTEED</h1>
							<h3 data-fittext="1" data-fittext-min="10" data-fittext-max="20" class="largeFont fonttype-1 white-font">Or we will be forced to change this totally inaccurate pie chart.</h3>
						</centered>
					</div>
				</centered>				
			</div>
		</div>
	</div>	





	<div id="contact" class="row">
		<div class="small-10 small-offset-1 columns">
			<div class="row">
				<div class="medium-12 small-12 columns" style="text-align: justify">
					<br><br>
					<centered>
					<br>
					<h1 class="fonttype-1">Check Our Stuff!</h1>	
					<div style="text-align: justify">
						<p>
							No, not that stuff.  Don't be gross.  Check out our portfolio - which is updated regularly.  See if our services are a good fit for you, or contact us now and
							get started creating your dream web project today!		
							<br><br>
							<br><br>
							<centered>				  
								<button ui-sref="portfolio">Visit Our Portfolio</button>
							</centered>
						</p>
					</div>			
					<br><br>
					<br><br>
					</centered>					
					
				</div>
			</div>
			
		</div>		
	</div>		
			
</div>	

