
<div class="" > 
	<div class="" ng-init="init()">
	
	<div id="section1" class="scroll-pattern-1" data-speed="4" data-offset="0" data-type="background">
		<div style="height: auto">	
	
		<!-- MOBILE -->
		<div class="show-for-small-only" style="background-color: black; color: white; padding-top: 20px">	
	        <ul rn-carousel rn-carousel-buffered rn-carousel-index="navIndex" rn-carousel-swipe="{{swipe}}" class="my-slider ng-cloak" >
	            <li ng-repeat="slide in pages">
		                <div class="small-1 columns" >	
		                	&nbsp		
		                	<i class="fa fa-caret-left fa-2x" ng-class="{false: 'hidden', true: 'visible'}[$index > 0]"  style="cursor: pointer; margin-top: 10%" ng-click="navprev()"></i>
		                </div>
		                <div class="small-10 columns">
		                					                		
		                		<button class="small-12 button note" ui-sref="{{slide.route}}"><h1><i ng-class="slide.icon"></i> &nbsp&nbsp {{slide.name}}</h1><small>{{slide.description}}</small></button>
		                		
		                	<br>
		                </div>	
		                <div class="small-1 columns">
							&nbsp
		                	<i class="fa fa-caret-right fa-2x" ng-class="{false: 'hidden', true: 'visible'}[$index < pages.length -1]"  style="cursor: pointer;  margin-top: 10%" ng-click="navnext()"></i>
		                </div>  
	            </li>
	        </ul>
		</div>
		

	
  		<div class="row">
  			<div class="small-12 columns" style="color: black">
  			<centered>
  				<br><br>
  				<h3 class="fonttype-1">We work fast and we work hard.</h1>
  				<br><br>
  				<h2 class="fonttype-1"><strong>SO HARD.</strong></h2>
  				<br><br>
  				<h1 class="fonttype-1">ROCK HARD.</h1>
  				<br><br>			
  				<h5 class="fonttype-1">We work so damn <strong>fast</strong> and <strong>hard</strong> that it makes everything sound like a dirty sexual innuendo.  But that's not really my fault is it.  Honestly it speaks more about you but I'm not here do judge.</h5>
  				<br><br>
  				<h5 class="fonttype-1">And I won't.  While I'm interested in your very blatent personal issues, my point is this:</h5>
  				<br><br>
  			</centered>
  			</div>
  		</div>
		<div style="background-color: black">  				
			<centered>		
				<br>	
				<h1 class="fonttype-1 white-font"><strong>WE MAKE WEBSITES.</strong></h1>
				<br><br>
				<h2 class="fonttype-1 white-font"><strong>AND WE MAKE THEM WELL.</strong></h2>
				<br>
			</centered>
		</div>
		<div class="row">
			<centered>
  				<br><br>
  				<br><br>  				
  				<p>So give us a shot.  We're here to service you, like all the way.  We're gonna go the full home run with you because that's what professionals with a penchant for poor wording do:  they service the shit out of you. And we're no different. </p>
  				<p>Well maybe a <i>little bit different</i>. We made our dog the CEO and he's been a real asshole about it since.  Spends all his just sleeping and being lazy and poopin on stuff.</p>
  				<p>Are you still reading this?  Clearly I'm just rambling now.  Do yourself a favor and just fill out this neato contact form at the bottom and lets get started!</p>
  			</centered>
  		</div>
  		</div>
  	
  	<!-- END MODAL -->
	
	    <!--  IMAGE WITH FALLBACK
	    <img ng-src="..." fallback-src="http://dummyimage.com/600x400/000/fff" loading-src="http://dummyimage.com/600x400/000/fff" />
	    -->
	    
	
	</div>
	</div>
	    		
	</div>	
	
	
</div>
			
