
<div class=""  >
	
	
	<!-- MODAL CONTENTS -->
	<script type="text/ng-template" id="myModalContent.html" >
		<small>You weren't supposed to click on me!  This is my super secret testing area!</small>
		<br><br>
		<h3>Browser Information</h3>		
		<p>Selected: <b>{{detectedType}}</b></p>
		<br><br>
		<centered>
			<img ng-src="{{detected}}" />
			
		</centered>
		<br><br>
		<button class="button" ng-click="ok()">Dismiss</button>
		<a class="close-reveal-modal" ng-click="cancel()"><i class="fa fa-caret-square-o-left"></i></a>
	</script>
	<!-- END MODAL -->

	<div class="">

			<div class="medium-12 columns"  style="background: rgba(0, 0, 0, 1); height: auto">
				<br><br>
				<br>
				<br>
					<div ng-class="{false: 'hidden', true: 'visible'}[emailSent]">
						<br><br>
						<centered>
							<H1 class="fonttype-1 white-font">Thank You For the Email!</H1>
							<h3 class="fonttype-1 white-font">We'll get back to you as soon as we can!</h3>
							<br>
							<small class="fonttype-2 white-font">If your question is urgent, reach me on my cell:<br>804-316-1515</small>
						</centered>
						<br><br>
					</div>

					<form name="form" novalidate style="max-width: 800px; margin-left: auto; margin-right: auto;" ng-class="{false: 'visible', true: 'hidden'}[emailSent]">	
						<div class="container">
							<centered>
								<br><br>
								<h1 class="white-font">Contact Us</h1>
							</centered>
							<br>
							<p class="white-font">Have a question or an idea?  Perhaps you spotted my hidden bear even after I stated quite specifically that this was a bear free zone, and now you wish to call me out on my shinnanigans.  Eitheway, fill out these forms and get to it!</p>
						</div>
						<div class="small-5 columns">
							<label class="white-font">Contact Name</label>
							<input ng-model="user.name" type="text" placeholder="Name">
						</div>
						<div class="small-6 small-offset-1 columns">
							<label class="white-font">Email *required*   <span ng-show="form.uEmail.$error.email"> - This is not a valid email.</span></label>								      		
						    <input ng-model="user.email" type="email"  name="uEmail" placeholder="Email Address" required/><br />					    
	      				</div>					
				
						
						<div class="container">
							<label class="white-font">Comment/Question</label>
							<textarea ng-model="user.comment" style="resize: none; height: 80px"></textarea>
						</div>
						
						<div class="container">
							<br><br>
								<button class="button note pull-right small-12 medium-4 columns tiny" ng-click="sendEmail()">SEND</button>
							<br><br>
							<br><br>
						</div>
					</form>
			</div>					
			
	</div>	
	
	<div id="trueBottom" class="flat-secondary" style="width: 100%">
		<centered>
			<br><br>
			<small>Code & Logic is created by Allen Royston | 2010-2014</small><br>
			<small>Thanks for checking out my site!</small>
			<br><br><br>
			<a class="button tiny" ng-click="open()">Don't Press Me!</a>
			<a class="button tiny" ng-click="testScroll()">Get Dizzy!</a>
		</centered>
	</div>

</div>
			
