<div id="mainSlider" style="background-color: transparent; color: white; ">  <!-- MINHEIGHT HAS TO MATCH THE IMAGE SIZE OR THE STICKY WILL GET CONFUSED -->
		
		<!-- MOBILE -->
		<div class="show-for-small-only">
			<div class="row">					
					<div class="small-12 columns" style="color: white; background-color: black">
						<br>
						<centered>
							<span class="pull-left fonttype-2">
								<img src="media/meta/smallLogo.png" />
								<br><br>
							</span>
							<span class="pull-right">
								<br>
							    <a style="margin-left: 10px" ui-sref="home"><i class="fa fa-home"></i> Home</a>
							    <a style="margin-left: 10px" ui-sref="about"> About </a>
							    <a style="margin-left: 10px" ui-sref="portfolio"> Portfolio</a>
							    <a style="margin-left: 10px" ui-sref="hire"> Hire</a>
								
							</span>
							<br><br>
						</centered>
					</div>				
			</div>
			
		</div>
		
		<!-- DESKTOP -->
		<div class="show-for-medium-up">
			<div id="carousel-1" class="rn-carousel-container" style="background-image:url('media/slider/bg.png'); background-size: 100% auto">
				<ul rn-carousel="" rn-carousel-control="">
		            <li ng-repeat="slide in slides" >	              
		                <!--
		                <div class="carousel-blackbar-top">
		                		<small>slide {{slide.id}}</small>
		                </div>
		                -->
		                	 
		                	<img ng-src="{{slide.img}}" class="img-responsive" style="cursor: pointer" style-parent>   
		                       
		            </li>
	     	   </ul>
	        </div>
        </div>
        
        
</div>