<div class="" > 
	<div class="" ng-init="init()">
					
		<div id="section1" class="scroll-pattern-1" data-speed="4" data-offset="0" data-type="background">
			<div style="height: auto">					
					
		<!-- MOBILE -->
		<div class="show-for-small-only" style="background-color: black; color: white; padding-top: 20px">	
	        <ul rn-carousel rn-carousel-buffered rn-carousel-index="navIndex" rn-carousel-swipe="{{swipe}}" class="my-slider ng-cloak" >
	            <li ng-repeat="slide in pages">
		                <div class="small-1 columns" >	
		                	&nbsp		
		                	<i class="fa fa-caret-left fa-2x" ng-class="{false: 'hidden', true: 'visible'}[$index > 0]"  style="cursor: pointer; margin-top: 10%" ng-click="navprev()"></i>
		                </div>
		                <div class="small-10 columns">
		                					                		
		                		<button class="small-12 button note" ui-sref="{{slide.route}}"><h1><i ng-class="slide.icon"></i> &nbsp&nbsp {{slide.name}}</h1><small>{{slide.description}}</small></button>
		                		
		                	<br>
		                </div>	
		                <div class="small-1 columns">
							&nbsp
		                	<i class="fa fa-caret-right fa-2x" ng-class="{false: 'hidden', true: 'visible'}[$index < pages.length -1]"  style="cursor: pointer;  margin-top: 10%" ng-click="navnext()"></i>
		                </div>  
	            </li>
	        </ul>
		</div>
				


		
		
		
		<!-- COMPLETED -->
		<div class="row" style="padding: 50px;">
			
			<div class="small-12 columns" style="padding: 10px; background-color: black; color: white" >
				<centered>				
					<h3 class="fonttype-1">PRIOR WORK</h3>
				</centered>
			</div>		
			<div ng-repeat="site in websites">				
			
				<div class="small-12 medium-4 large-3 columns flat-base make-cursor " style="min-height: 400px;">
					<br><br>
					<a ng-href="http://{{site.url}}">
					<centered>
						<h5 class="black-font">{{site.title}}</h5>
							<img ng-src="{{site.image}}" style="cursor: pointer" class="img-responsive-clearfix" style="max-width: 100px"/>
						<br><br>
						<div style="height: 65px">
							<small>{{site.description}}</small>
						</div>
						<br><br>						
					</centered>
					</a>
					
		        </div>
		       
				<div class="show-for-small-only">
					<br>
					 &nbsp;
					<br>										
				</div>		       
		       
	        </div>
		</div>
		
		<!-- SLIDER -->
		
		<div class="">
			
			<div class="" style="background-color: rgba(0, 0, 0, 1)">
				
				<br><br>
					<centered>
						<h4 class="white-font">Built with these amazing tools!</h4>
					</centered>
        	    <br><br>
		        <ul rn-carousel rn-carousel-buffered rn-carousel-index="slideIndex" rn-carousel-swipe="{{swipe}}" class="my-slider ng-cloak" >
		            <li ng-repeat="slide in rowSlider">
			                <div class="small-1 columns" >	
			                	&nbsp		
			                	<i class="fa fa-arrow-circle-left fa-2x" ng-class="{false: 'hidden', true: 'visible'}[$index > 0]"  style="cursor: pointer; margin-top: 55%" ng-click="prev()"></i>
			                </div>
			                <div class="small-10 columns">
			                	<centered>
			                		<img ng-src="{{slide.image}}" style="cursor: pointer" class="img-responsive-clearfix" style="max-width: 200px" >
			                		<br><br>
			                		<small class="white-font">{{slide.title}}</small>
			                	</centered>
			                	<br>
			                </div>	
			                <div class="small-1 columns">
								&nbsp
			                	<i class="fa fa-arrow-circle-right fa-2x" ng-class="{false: 'hidden', true: 'visible'}[$index < rowSlider.length -1]"  style="cursor: pointer;  margin-top: 55%" ng-click="next()"></i>
			                </div>  
			                
		            </li>
		        </ul>	
		      
				<br><br>
				
	        </div>
	        
		</div>
		
		<!-- COMPLETED -->
		<div class="row" style="padding: 50px;">
			
			<div class="small-12 columns" style="padding: 10px; background-color: black; color: white" >
				<centered>				
					<h3 class="fonttype-1">GROOVY IDEAS</h3>
				</centered>
			</div>			
			<div ng-repeat="site in projects">				
			
				<div class="small-12 medium-4 large-3 columns flat-base make-cursor " style="min-height: 400px;">
					<br><br>
					<a ng-href="http://{{site.url}}">
					<centered>
						<h5 class="black-font">{{site.title}}</h5>
							<img ng-src="{{site.image}}" style="cursor: pointer" class="img-responsive-clearfix" style="max-width: 100px"/>
						<br><br>
						<div style="height: 65px">
							<small>{{site.description}}</small>
						</div>
						<br><br>						
					</centered>
					</a>
					
		        </div>
		        
				<div class="show-for-small-only">
					<br>
					 &nbsp;
					<br>										
				</div>		        
		       
	        </div>
		</div>
		
		

		</div>
		</div>
	    		
	</div>	
</div>
			
