<div class="" > 
	<div class="" ng-init="init()">
					
		<!-- PARALLAX -->
		<div id="section1" class="scroll-pattern-1" data-speed="4" data-offset="0" data-type="background">
			<div style="height: auto">
				
				
		<!-- MOBILE -->
		<div class="show-for-small-only" style="background-color: black; color: white; padding-top: 20px">	
	        <ul rn-carousel rn-carousel-buffered rn-carousel-index="navIndex" rn-carousel-swipe="{{swipe}}" class="my-slider ng-cloak" >
	            <li ng-repeat="slide in pages">
		                <div class="small-1 columns" >	
		                	&nbsp		
		                	<i class="fa fa-caret-left fa-2x" ng-class="{false: 'hidden', true: 'visible'}[$index > 0]"  style="cursor: pointer; margin-top: 10%" ng-click="navprev()"></i>
		                </div>
		                <div class="small-10 columns">
		                					                		
		                		<button class="small-12 button note" ui-sref="{{slide.route}}"><h1><i ng-class="slide.icon"></i> &nbsp&nbsp {{slide.name}}</h1><small>{{slide.description}}</small></button>
		                		
		                	<br>
		                </div>	
		                <div class="small-1 columns">
							&nbsp
		                	<i class="fa fa-caret-right fa-2x" ng-class="{false: 'hidden', true: 'visible'}[$index < pages.length -1]"  style="cursor: pointer;  margin-top: 10%" ng-click="navnext()"></i>
		                </div>  
	            </li>
	        </ul>
		</div>
				

		

		
				<!-- IMAGES -->
						<!-- MOBILE -->
						<div class="show-for-small-only">
							<div class="row" style="padding: 50px;">
							<centered>
								
								<div class="small-12 columns" style="padding: 10px; background-color: black; color: white" >
									<centered>				
										<h3 class="fonttype-1">MEET THE STAFF</h3>
									</centered>
								</div>								
								
								<div ng-repeat="entry in aboutUs">
									
									<div class="small-12 columns flat-base">
										<centered>									
											<h2 class="black-font">
												{{entry.name}}
												<br>
												<small class="gray-font">{{entry.title}}</small>
											</h2>
											<br>
											<img ng-src="{{entry.image}}" class="img-circle"/>
											<br><br>
											<br>
										</centered>
										
										<h5 class="black-font" style="text-align: left">{{entry.description}}</h5>
										<br><br>
										<br><br>
									
									</div>
									<div class="show-for-small-only">
										<br>
										 &nbsp;
										<br>										
									</div>
								</div>
													
							</centered>
							<br><br>
							</div>							
							
						</div>
						
						
						<!-- DESKTOP -->
						<div class="row" style="padding: 50px;">
							<div class="show-for-medium-up">
								
								<div class="small-12 columns" style="padding: 10px; background-color: black; color: white" >
									<centered>				
										<h3 class="fonttype-1">MEET THE STAFF</h3>
									</centered>
								</div>								
								
									<div ng-repeat="entry in aboutUs">
										
										<div class="small-6 columns flat-base" style="height: 560px">
											<centered>									
												<h3 class="black-font">
													{{entry.name}}
													<br>
													<h5>{{entry.title}}</h5>
												</h3>
												<br>
												<img ng-src="{{entry.image}}" class=""/>
												<br><br>
												<br>						
											<p class="black-font" style="text-align: left">{{entry.description}}</p>
											<br><br>
											<br><br>
											
											</centered>
										</div>
									</div>
								
								
							</div>				
						</div>
		
				
				
				<!-- SLIDER -->
				<div class="row">
					<div class="small-12 columns">
		        	    <br><br>
				        <ul rn-carousel rn-carousel-buffered rn-carousel-index="slideIndex" rn-carousel-swipe="{{swipe}}" class="my-slider ng-cloak" >
				            <li ng-repeat="slide in imageGallery">
					                <div class="small-1 columns" >	
					                	&nbsp		
					                	<i class="fa fa-arrow-circle-left fa-2x" ng-class="{false: 'hidden', true: 'visible'}[$index > 0]"  style="cursor: pointer; margin-top: 55%" ng-click="prev()"></i>
					                </div>
					                <div class="small-10 columns">
					                	<centered>
					                		<img ng-src="{{slide.image}}" class="img-circle" style="cursor: pointer" >
					                		<br><br>
					                		<P>{{slide.title}}</P>
					                	</centered>
					                	<br>
					                </div>	
					                <div class="small-1 columns">
										&nbsp
					                	<i class="fa fa-arrow-circle-right fa-2x" ng-class="{false: 'hidden', true: 'visible'}[$index < imageGallery.length - 2]"  style="cursor: pointer;  margin-top: 55%" ng-click="next()"></i>
					                </div>  
				            </li>
				        </ul>		
			        </div>
				</div>
		
		
		
			</div>
		</div>
		<!-- end PARALLAX -->
		
	    		
	</div>	
</div>
			
